# Predicting customer spend

Thomas Wood

fastdatascience.com

Data science consulting

The dataset I used is from Kaggle, https://www.kaggle.com/c/customer-spend-model

The YouTube video tutorial ~is at https://studio.youtube.com/channel/UCLPrDH7SoRT55F6i50xMg5g

In [2]:
%matplotlib inline
from sqlalchemy import create_engine
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

sqlEngine = create_engine('mysql+pymysql://thomas:@127.0.0.1', pool_recycle=3600)
dbConnection = sqlEngine.connect()
dbConnection.execute("use purchases;")

In [3]:
pd.read_sql_query("SELECT id, orddate, ordnum, category, price FROM orders LIMIT 10", dbConnection)

    id    orddate  ordnum  category      price
0  957 2008-02-10   38650        35   5.010658
1  957 2008-02-10   38650        35  20.426102
2  957 2008-02-10   38650        19  20.400543
3  957 2008-03-15   48972        40  25.539017
4  957 2008-11-22  150011        40  14.316170
5  957 2008-11-22  150011        40   8.589699
6  957 2009-10-03  286151        19  15.313187
7  957 2010-04-04  376779        14  12.782295
8  957 2010-04-04  376779        14   5.087353
9  957 2010-04-04  376779        35   6.544533

In [4]:
dbConnection.execute("""CREATE OR REPLACE VIEW customerDailySpend AS SELECT id, 
       orddate, 
       Sum(price) AS dailySpend
       FROM orders
       GROUP BY id, orddate
       ORDER BY id, orddate;
""")

In [5]:
pd.read_sql_query("""SELECT * FROM customerDailySpend;""", dbConnection)

              id    orddate  dailySpend
0            957 2008-02-10   45.837303
1            957 2008-03-15   25.539017
2            957 2008-11-22   22.905869
3            957 2009-10-03   15.313187
4            957 2010-04-04   24.414181
5            957 2011-08-14   34.103157
6            957 2011-09-10   35.795532
7            957 2011-10-10   45.786179
8            957 2012-06-19   27.900585
9            957 2012-07-28   12.949997
10           957 2013-02-20   22.749992
11           957 2013-07-27   19.949997
12           957 2014-07-19   22.799994
13           957 2014-07-29   26.799990
14          2062 2008-10-14   62.658798
15          2062 2009-12-08   86.382740
16          2062 2010-02-22   42.258263
17          2062 2010-03-10   19.301262
18          2062 2010-07-12   66.621315
19          2062 2010-10-31   46.680923
20          2062 2010-12-29   49.365211
21          2062 2011-08-21   48.086983
22          2062 2011-12-19   65.061874
23          2062 2013-02-20  105.800402
24          2062 2013-05-25   85.450407
25          2062 2013-07-21  108.300777
26          2062 2013-10-26   68.399979
27          2062 2013-12-16   90.799971
28          2062 2014-06-02   89.838577
29          2062 2014-07-13   43.599985
...          ...        ...         ...
101449  16441249 2014-11-11    9.949997
101450  16441311 2014-11-11   36.698883
101451  16441753 2014-11-11   25.349993
101452  16442440 2014-11-12   50.650417
101453  16442512 2014-11-12   29.949997
101454  16442601 2014-11-12   24.899994
101455  16444124 2014-11-15   24.949997
101456  16444167 2014-11-15    9.949997
101457  16444299 2014-11-15   18.000000
101458  16444426 2014-11-15   19.899994
101459  16444779 2014-11-15   29.899994
101460  16444809 2014-11-15   12.899994
101461  16444868 2014-11-15    8.949997
101462  16445139 2014-11-15   19.949997
101463  16446020 2014-11-15   17.899994
101464  16447050 2014-11-16   24.949997
101465  16448030 2014-11-17    5.949997
101466  16448065 2014-11-17   49.949982
101467  16448081 2014-11-17    3.949999
101468  16448510 2014-11-17    7.949997
101469  16451821 2014-11-19   89.699982
101470  16451899 2014-11-19   19.799988
101471  16453115 2014-11-22   19.899994
101472  16453182 2014-11-22   29.899994
101473  16453395 2014-11-22   24.799988
101474  16453760 2014-11-22    9.949997
101475  16455134 2014-11-23  162.499941
101476  16455606 2014-11-23   29.949997
101477  16455720 2014-11-24    9.899994
101478  16456238 2014-11-24   93.439701

[101479 rows x 3 columns]

In [6]:
df_features_and_spends = pd.read_sql_query("""SELECT id, 
       orddate, 
       DAYOFWEEK(orddate) as weekday,
       Sum(dailySpend) 
         OVER ( 
           partition BY id 
           ORDER BY id, orddate rows BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING) as TotalPrecedingSpend,
    Avg(dailySpend) 
         OVER ( 
           partition BY id 
           ORDER BY id, orddate rows BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING) as AvgPrecedingSpend,
    Sum(dailySpend) 
         OVER ( 
           partition BY id 
           ORDER BY id, orddate rows BETWEEN 1 PRECEDING AND 1 PRECEDING) as PreviousSpend,
    Count(dailySpend) 
         OVER ( 
           partition BY id 
           ORDER BY id, orddate rows BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING) as NumPrecedingVisits,
    dailySpend
FROM   customerDailySpend 
GROUP  BY id, orddate
ORDER BY id, orddate """, dbConnection)
df_features_and_spends

,id,orddate,weekday,TotalPrecedingSpend,AvgPrecedingSpend,PreviousSpend,NumPrecedingVisits,dailySpend
0,957,2008-02-10,1,NaN,NaN,NaN,0,45.837303
1,957,2008-03-15,7,45.837303,45.837303,45.837303,1,25.539017
2,957,2008-11-22,7,71.376320,35.688160,25.539017,2,22.905869
3,957,2009-10-03,7,94.282188,31.427396,22.905869,3,15.313187
4,957,2010-04-04,1,109.595375,27.398844,15.313187,4,24.414181
5,957,2011-08-14,1,134.009556,26.801911,24.414181,5,34.103157
6,957,2011-09-10,7,168.112713,28.018785,34.103157,6,35.795532
7,957,2011-10-10,2,203.908245,29.129749,35.795532,7,45.786179
8,957,2012-06-19,3,249.694424,31.211803,45.786179,8,27.900585
9,957,2012-07-28,7,277.595009,30.843890,27.900585,9,12.949997
10,957,2013-02-20,4,290.545006,29.054501,12.949997,10,22.749992
11,957,2013-07-27,7,313.294998,28.481363,22.749992,11,19.949997
12,957,2014-07-19,7,333.244995,27.770416,19.949997,12,22.799994
13,957,2014-07-29,3,356.044989,27.388076,22.799994,13,26.799990
14,2062,2008-10-14,3,NaN,NaN,NaN,0,62.658798
15,2062,2009-12-08,3,62.658798,62.658798,62.658798,1,86.382740
16,2062,2010-02-22,2,149.041538,74.520769,86.382740,2,42.258263
17,2062,2010-03-10,4,191.299801,63.766600,42.258263,3,19.301262
18,2062,2010-07-12,2,210.601063,52.650266,19.301262,4,66.621315
19,2062,2010-10-31,1,277.222378,55.444476,66.621315,5,46.680923
20,2062,2010-12-29,4,323.903301,53.983884,46.680923,6,49.365211
21,2062,2011-08-21,1,373.268513,53.324073,49.365211,7,48.086983
22,2062,2011-12-19,2,421.355495,52.669437,48.086983,8,65.061874
23,2062,2013-02-20,4,486.417370,54.046374,65.061874,9,105.800402
24,2062,2013-05-25,7,592.217772,59.221777,105.800402,10,85.450407
25,2062,2013-07-21,1,677.668179,61.606198,85.450407,11,108.300777
26,2062,2013-10-26,7,785.968956,65.497413,108.300777,12,68.399979
27,2062,2013-12-16,2,854.368935,65.720687,68.399979,13,90.799971
28,2062,2014-06-02,2,945.168905,67.512065,90.799971,14,89.838577
29,2062,2014-07-13,1,1035.007483,69.000499,89.838577,15,43.599985
...,...,...,...,...,...,...,...,...
101449,16441249,2014-11-11,3,NaN,NaN,NaN,0,9.949997
101450,16441311,2014-11-11,3,NaN,NaN,NaN,0,36.698883
101451,16441753,2014-11-11,3,NaN,NaN,NaN,0,25.349993
101452,16442440,2014-11-12,4,NaN,NaN,NaN,0,50.650417
101453,16442512,2014-11-12,4,NaN,NaN,NaN,0,29.949997
101454,16442601,2014-11-12,4,NaN,NaN,NaN,0,24.899994
101455,16444124,2014-11-15,7,NaN,NaN,NaN,0,24.949997
101456,16444167,2014-11-15,7,NaN,NaN,NaN,0,9.949997
101457,16444299,2014-11-15,7,NaN,NaN,NaN,0,18.000000
101458,16444426,2014-11-15,7,NaN,NaN,NaN,0,19.899994
101459,16444779,2014-11-15,7,NaN,NaN,NaN,0,29.899994
101460,16444809,2014-11-15,7,NaN,NaN,NaN,0,12.899994
101461,16444868,2014-11-15,7,NaN,NaN,NaN,0,8.949997
101462,16445139,2014-11-15,7,NaN,NaN,NaN,0,19.949997
101463,16446020,2014-11-15,7,NaN,NaN,NaN,0,17.899994
101464,16447050,2014-11-16,1,NaN,NaN,NaN,0,24.949997
101465,16448030,2014-11-17,2,NaN,NaN,NaN,0,5.949997
101466,16448065,2014-11-17,2,NaN,NaN,NaN,0,49.949982
101467,16448081,2014-11-17,2,NaN,NaN,NaN,0,3.949999
101468,16448510,2014-11-17,2,NaN,NaN,NaN,0,7.949997
101469,16451821,2014-11-19,4,NaN,NaN,NaN,0,89.699982
101470,16451899,2014-11-19,4,NaN,NaN,NaN,0,19.799988
101471,16453115,2014-11-22,7,NaN,NaN,NaN,0,19.899994
101472,16453182,2014-11-22,7,NaN,NaN,NaN,0,29.899994
101473,16453395,2014-11-22,7,NaN,NaN,NaN,0,24.799988
101474,16453760,2014-11-22,7,NaN,NaN,NaN,0,9.949997
101475,16455134,2014-11-23,1,NaN,NaN,NaN,0,162.499941
101476,16455606,2014-11-23,1,NaN,NaN,NaN,0,29.949997
101477,16455720,2014-11-24,2,NaN,NaN,NaN,0,9.899994
101478,16456238,2014-11-24,2,NaN,NaN,NaN,0,93.439701

In [7]:
df_features_and_spends.dropna(inplace=True)

In [ ]:
sns.barplot(x="weekday", y="dailySpend", data=df_features_and_spends)

C:\Users\woodt.DESKTOP-QB0N6BQ\Anaconda3\lib\site-packages\scipy\stats\stats.py:1713: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  return np.add.reduce(sorted[indexer] * weights, axis=axis) / sumval

# Start machine learning modelling

In [ ]:
m = RandomForestRegressor()

In [ ]:
plt.hist(df_features_and_spends.orddate);

In [ ]:
df_train = df_features_and_spends[df_features_and_spends.orddate < pd.Timestamp(2014,1,1)]
df_test = df_features_and_spends[df_features_and_spends.orddate >= pd.Timestamp(2014,1,1)]

In [ ]:
m.fit(df_train.drop(["id", "orddate", "dailySpend"], axis=1), df_train.dailySpend)

In [ ]:
y_pred = m.predict(df_test.drop(["id", "orddate", "dailySpend"], axis=1))

In [ ]:
y_pred

In [ ]:
df_test["y_pred"] = y_pred

In [ ]:
df_test

In [ ]:
residuals = df_test.y_pred - df_test.dailySpend

In [ ]:
plt.hist(residuals, range=(-50,50));

In [ ]:
mean_absolute_error(df_test.dailySpend, df_test.y_pred)

# Prediction for the future

In [ ]:
df_features_and_spends_for_prediction = pd.read_sql_query("""SELECT id,
    2 as weekday,
       Sum(dailySpend)  as TotalPrecedingSpend,
    Avg(dailySpend) 
         as AvgPrecedingSpend,
        LAST_VALUE(dailySpend) OVER (partition by id order by id, orddate) as PreviousSpend,
    Count(dailySpend)  as NumPrecedingVisits
FROM   customerDailySpend 
GROUP  BY id
ORDER BY id """, dbConnection)
df_features_and_spends_for_prediction

In [ ]:
y_pred_future = m.predict(df_features_and_spends_for_prediction.drop(["id"], axis=1))

In [ ]:
df_features_and_spends_for_prediction["y_pred_future"] = y_pred_future

In [ ]:
df_features_and_spends_for_prediction